:root {
  --first-color: #f9f7fe;
  --second-color: #6c63ff;
  --third-color: #272142;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
}
body {
  font-family: var(--default-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font);
  font-weight: bold;
}
nav {
  padding: 20px;
}
nav .logo {
  max-height: 40px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  line-height: 42px;
  display: inline;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #212529;
}
nav li.active a {
  color: var(--second-color);
}
h2 {
  font-size: 64px;
}
.content {
  background: var(--first-color);
  padding: 80px 20px;
  text-align: center;
  color: black;
}
.content .hello {
  font-size: 36px;
  color: var(--third-color);
  font-weight: 600;
}
.content h1 {
  font-size: 96px;
  font-family: var(--heading-font);
}
.content h3 {
  font-size: 24px;
  line-height: 2;
  font-weight: 600;
  font-family: var(--heading-font);
}
.about-section {
  padding: 60px 20px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}
.about-section h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.about-section p {
  font-size: 16px;
  line-height: 30px;
  color: black;
}
.about-section-content {
  margin: 30px;
}
.about-section-content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font);
}
.about-section-content p {
  font-size: 14px;
}
.button {
  background: var(--second-color);
  color: white;
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 15px 30px;
  text-decoration: none;
}
.paragraph {
  text-align: center;
}
.button-learn-more {
  background: white;
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 15px 30px;
}
.element {
  padding: 120px 60px;
}
p {
  font-size: 16px;
  line-height: 30px;
  color: #6c757d;
}
footer {
  margin: 60px 0;
}
footer .contact-section {
  background: var(--first-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-section h4 {
  font-size: 48px;
}
footer .email-link a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}
footer .email-link a:hover {
  color: var(--second-color);
}
footer .social-link a {
  text-decoration: none;
  margin: 0 30px;
  color: var(--second-color);
  background: var(--first-color);
  padding: 15px 18px;
  border-radius: 50px;
  font-size: 20px;
  transition: all 100ms ease-in-out;
}
footer .social-link a:hover {
  background: var(--second-color);
  color: white;
}
@media (max-width: 900px) {
  .content h1 {
    font-size: 43px;
  }
  h2 {
    font-size: 43px;
  }
  .element {
    text-align: center;
    padding: 35px 20px;
  }
  .about-section h1 {
    font-size: 54px;
    line-height: 56px;
  }
  .about-section-content {
    text-align: center;
  }
}
